{% extends 'main.html' %}

{% block content %}
    <form class="form" action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="form__group">
          <label>Book Cover</label>
            <br>
          {{form.picture}}
        </div>
        <div class="form__group">
          <label>Book Title</label>
            <br>
          <input type="text" name="name">
        </div>


       <div class="form__group">
          <label for="book_author">Author</label>
           <br>
          <input required type="text" name="author" list="author-list" value="{{book.author.name}}">
          <datalist id="author-list">
            {% for author in authors %}
              <select id="book_author">
                <option value="{{ author.name }}">{{author.name}}</option>
              </select>
            {% endfor %}
          </datalist>
        </div>

        <div class="form__group">
          <label for="book_genre">Genre</label>
            <br>
          <input required type="text" name="genre" list="genre-list" value="{{book.genre.all}}">
          <datalist id="genre-list">
            {% for genre in genres %}
              <select id="book_genre">
                <option value="{{genre.name}}">{{genre.name}}</option>
              </select>
            {% endfor %}
          </datalist>
        </div>

        <div class="form__group">
          <label>Book Description</label>
            <br>
          {{form.description}}
        </div>

        <div class="form__group">
          <label>PDF File</label>
            <br>
          {{form.file}}
        </div>

        <input type="submit" value="Upload">
    </form>


{% endblock %}